.button {
    border-radius: 50%;
    box-shadow: inset 0 -7px 3px 0 rgba(0, 0, 0, 0.3), 0 3px 2px 0 rgba(0, 0, 0, 0.3);
    padding: 11px;
}

.button::after {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    border-radius: 50%;
    box-shadow: inset 0 7px 3px 0 rgba(98, 59, 99, 0.3);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
}

.scissors {
    background: var(--scissors-gradient-bottom);
    background: linear-gradient(180deg, var(--scissors-gradient-top), var(--scissors-gradient-bottom)) no-repeat;
    top: 62px;
    left: 50%;
    transform: translate(-50%, 0);
}

.scissors::after {
    background-image: url("./images/icon-scissors.svg");
}

.paper {
    background: var(--paper-gradient-bottom);
    background: linear-gradient(180deg, var(--paper-gradient-top), var(--paper-gradient-bottom)) no-repeat;
    top: 148px;
    right: calc(50% - 155px);
}

.paper::after {
    background-image: url("./images/icon-paper.svg");
}

.rock {
    background: var(--rock-gradient-bottom);
    background: linear-gradient(180deg, var(--rock-gradient-top), var(--rock-gradient-bottom)) no-repeat;
    top: 270px;
    right: calc(50% - 111px);
}
.rock::after {
    background-image: url("./images/icon-rock.svg");
}

.lizard {
    background: var(--lizard-gradient-bottom);
    background: linear-gradient(180deg, var(--lizard-gradient-top), var(--lizard-gradient-bottom)) no-repeat;
    top: 270px;
    left: calc(50% - 111px);
}
.lizard::after {
    background-image: url("./images/icon-lizard.svg");
    background-size: 52%;
}

.spock {
    background: var(--spock-gradient-bottom);
    background: linear-gradient(180deg, var(--spock-gradient-top), var(--spock-gradient-bottom)) no-repeat;
    top: 148px;
    left: calc(50% - 155px);
}
.spock::after {
    background-image: url("./images/icon-spock.svg");
    background-size: 39%;
}

@media only screen and (min-width: 768px) {
    .button {
        box-shadow: inset 0 -12px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
        padding: 17px;
    }

    .button::after {
        box-shadow: inset 0 12px 4px 0 rgba(98, 59, 99, 0.3);
    }

    .scissors {
        top: 17px;
    }

    .paper {
        right: calc(50% - 236px);
    }

    .rock {
        right: calc(50% - 171px);
        top: 330px;
    }

    .lizard {
        left: calc(50% - 171px);
        top: 330px;
    }

    .spock {
        left: calc(50% - 236px);
    }
}